[Desktop Entry]
Encoding=UTF-8
Name=VE-Suite Reboot Cluster
Categories=Graphics;Science;DataVisualization;Engineering;VESuite;
Exec=vesuiteReboot.sh
Icon=ve-suite.png
Type=Application
Terminal=true
NoDisplay=false
