#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=VE-Xuite Clear Cluster
Categories=Graphics;Science;DataVisualization;Engineering;X-VESuite;
MimeType=application/x-vesuite;
Exec=vesuiteRestartX.sh
Icon=ve-suite
Type=Application
Terminal=true
NoDisplay=false
Name[en_US]=VE-Suite Restart Graphics
GenericName[en_US]=
Comment[en_US]=
