[Desktop Entry]
Encoding=UTF-8
Name=VE-Suite Reboot Cluster
Categories=Graphics;Science;DataVisualization;Engineering;X-VESuite;
Exec=vesuiteReboot.sh
Icon=ve-suite
Type=Application
Terminal=true
NoDisplay=false
