[Desktop Entry]
Encoding=UTF-8
Name=VE-Suite Shutdown Cluster
Categories=Graphics;Science;DataVisualization;Engineering;VESuite;
Exec=vesuiteShutdown.sh
Icon=ve-suite.png
Type=Application
Terminal=true
NoDisplay=false
