[Desktop Entry]
Encoding=UTF-8
Name=VE-Suite Launcher
Categories=Graphics;X-VESuite;
MimeType=application/x-vesuite;
Exec=velauncher.sh
Icon=ve-suite
Type=Application
Terminal=true
NoDisplay=false
