<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>vtkTo3DTexture</string>
	<key>CFBundleGetInfoString</key>
	<string>dialogs version 2.8.6, (c) 2002-2006 wxWidgets</string>
	<key>CFBundleIconFile</key>
	<string>ve_icon128x128.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.vesuite.apps.vtkTo3DTexture</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>2.8.6, (c) 2002-2006 wxWidgets</string>
	<key>CFBundleName</key>
	<string>vtkTo3DTexture</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.8.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.8.6</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 1998-2007 VE Suite</string>
</dict>
</plist>
