[Desktop Entry]
Type=MimeType
MimeType=application/x-vesuite
Icon=gnome-mime-application-x-vesuite
Comment=VES File
Patterns=*.ves;
X-KDE-AutoEmbed=false
Name=VE-Suite
