7                    // Number of blocks to follow
0                    // OPTIONAL world DCS settings (default values shown)
   1 1 1             // Scale values
   0 0 0             // Translation values (in feet)
   0 0 0             // Rotation values (degrees, Z-X-Y format)
1                    // OPTIONAL scalarBar settings: the default settings are shown in this block
   -5.0 6.0 0.0      // scalarBar Position (of lower left corner, in feet, relative to the performer coord frame)
   90.0              // scalarBar Z-Rotation (in degrees: used to control orientation of the scalarBar)
   3.0  0.5          // scalarBar Height and Width (in feet)
5
   PIV_Image_and_Vectors.BMP  // PIV data
   11  4.3  5        // xyz location of lower left corner
   0                 // Orientation: 0=X-plane, 1=Y-plane, 2=Z-plane
8                    // Object type 8: vtkDataSets, e.g., unstructured grids, or polydatas such as surfaces or particle tracks
   1 1 1             // DCS Scale values
   0 0 0             // DCS Translation values (in feet)
   0 0 0             // DCS Rotation values (degrees, Z-X-Y format)
   flowdata.vtk      // vtkDataSet name
   ./POST_DATA       // precomputed data slice directory (insert JUNK if n/a)
   ./SURFACE         // precomputed surface directory    (insert JUNK if n/a)
9                    // Object type 9: Geometry: *.stl, *.iv, *.pfb, *.obj
   1                 // transparency toggle (1=make geom transparent when visualizations are active)
   1   1.0 0.0 0.0   // stl color flag (and 3 color values if flag = 1)
   3.93 3.93 3.93    // Scale values for geometry file
   3.5 .72 3.287     // Translation values for geometry file
   90 0 0            // Rotation values for geometry file
   air_system.iv     // Geometry file name
10                   // Object type 10: Transient data loader
   4                 // Number of directories containing vtk data to follow
   1 1 1             // data dcs scale values
   0 0 0             // data dcs translation values (in feet)
   0 0 0             // data dcs rotation values (degrees, Z-X-Y format)
   ./transient_flowdata    // directory of vtk files
      0                    // button ID (0=3D_mesh, 1=x-planes, 2=y-planes, 3=z-planes, 4=particle cloud)
   ./transient_y_planes    // directory of vtk files
      2                    // button ID (0=3D_mesh, 1=x-planes, 2=y-planes, 3=z-planes, 4=particle cloud)
   ./transient_z_planes    // directory of vtk files
      3                    // button ID (0=3D_mesh, 1=x-planes, 2=y-planes, 3=z-planes, 4=particle cloud)
   ./transient_droplets    // directory of vtk files
      4                    // button ID (0=3D_mesh, 1=x-planes, 2=y-planes, 3=z-planes, 4=particle cloud)
   ./trans_geometry  // Transient geometry data directory
   1 1 1             // Transient geometry dcs scale values
   0 0 0             // Transient geometry dcs translation values
   0 0 0             // Transient geometry dcs rotation values
   1  1  1.0 1.0 1.0 // Transient geometry transparency setting, stl color flag (and 3 color values if flag = 1)
   6                 // Duration of the transient sequence in seconds
11                   // Object type 11: Sound File block, must have Sound API working, recommend OpenAL
   0                 // ambient, is played as background noise
   1                 // retriggerable, shuts off sound from being retriggered in program
   1                 // volume, volume range is 0-1, 1 is loud, 0 is soft
   1                 // pitchbend, changes the pitch 0-1
   1                 // cutoff, range is 0-1 cutoff is a clipping sort of deal
   0.0               // Sound Position X,  OpenGL Coordinates 0 is center
   0.0               // Sound Position Y,  OpenGL Coordinates 0 is center
   0.0               // Sound Position Z,  OpenGL Coordinates 0 is center
   /sound.wav        // Sound file name  
   mysound           // Sound Name Alias, give a unique name of alphanumeric characters   
