simDisplay
  Name "SimWindowForNavigation"
  origin { "200" "200" }
  size { "600" "600" }
  pipe { "0" }
  view { "left_eye" }
  border { "True" }
  cameraPos { "SimCam3 Proxy" }
  user { "User1" }
  wandPos { "VJWand" }
  active { "True" }
  drawProjections { "True" }
  surfaceColor { "1.0" "0.0" "1.0" }
  end
displaySystem
  Name "Pipe Setup"
  numpipes { "1" }
  xpipes { "-1" "-1" ":0.1" ":0.0" ":0.0" ":0.0" ":0.0" ":0.0" }
  end
surfaceDisplay
  Name "MainStereoView"
  origin { "400" "0" }
  size { "400" "400" }
  pipe { "0" }
  view { "stereo" }
  border { "True" }
  corners { 
      Vec3
        Name "lower left"
        x { "-5.0" }
        y { "0.0" }
        z { "-5.0" }
        end
 
      Vec3
        Name "lower right"
        x { "5.0" }
        y { "0.0" }
        z { "-5.0" }
        end
 
      Vec3
        Name "upper right"
        x { "5.0" }
        y { "10.0" }
        z { "-5.0" }
        end
 
      Vec3
        Name "upper left"
        x { "-5.0" }
        y { "10.0" }
        z { "-5.0" }
        end
 }
  user { "User1" }
  active { "True" }
  tracked { "True" }
  trackerproxy { "VJHead" }
  end
surfaceDisplay
  Name "Surface Display1"
  origin { "0" "0" }
  size { "800" "600" }
  pipe { "0" }
  view { "stereo" }
  border { "True" }
  corners { 
      Vec3
        Name "lower left"
        x { "-4.0" }
        y { "-1.0" }
        z { "-8.0" }
        end
 
      Vec3
        Name "lower right"
        x { "4.0" }
        y { "-1.0" }
        z { "-8.0" }
        end
 
      Vec3
        Name "upper right"
        x { "4.0" }
        y { "5.0" }
        z { "-8.0" }
        end
 
      Vec3
        Name "upper left"
        x { "-4.0" }
        y { "5.0" }
        z { "-8.0" }
        end
 }
  user { "User1" }
  active { "True" }
  tracked { "False" }
  trackerproxy { "Head Proxy" }
  end
simDisplay
  Name "SimWindow"
  origin { "0" "100" }
  size { "800" "600" }
  pipe { "0" }
  view { "stereo" }
  border { "True" }
  cameraPos { "SimCamera Proxy" }
  user { "User1" }
  wandPos { "VJWand" }
  active { "False" }
  drawProjections { "False" }
  surfaceColor { "1.0" "0.0" "1.0" }
  vert_fov { "0.0" }
  aspect_ratio { "1.0" }
  end
End
