CHANGE_SCALAR
CHANGE_SCALAR_RANGE
UPDATE_GEOMETRY
SEND_DRAW
UPDATE_SEND_PARAM
RECORD_SCENE
CLEAR_ALL
SET_TRANSIENT_OPTIONS
TRANSIENT_RESET
TRANSIENT_BACKWARD
LOAD_PFB_FILE
CLEAR_PFB_FILE
TRANSIENT_FORWARD
TRANSIENT_STOP
COMPUTE_STREAMLINES
USE_LAST_STREAMLINE_SEEDPOINTS
CHANGE_STREAMLINE_CURSOR
NO_CURSOR
POINT_CURSOR
X_LINE_CURSOR
Y_LINE_CURSOR
Z_LINE_CURSOR
X_PLANE_CURSOR
Y_PLANE_CURSOR
Z_PLANE_CURSOR
BLUE_MENU_TOGGLE
SCALAR_BAR_TOGGLE
CHANGE_STEADYSTATE_DATASET
CHANGE_VECTOR
CHANGE_VECTOR_THRESHOLD
CHANGE_VECTOR_MASK_RATIO
CHANGE_VECTOR_SCALE
SCALE_BY_VECTOR_MAGNITUDE
BACKWARD_INTEGRATION
FORWARD_INTEGRATION
TWO_DIRECTION_INTEGRATION
CHANGE_PROPAGATION_TIME
CHANGE_INT_STEP_LENGTH
CHANGE_STEP_LENGTH
CHANGE_CONTOUR_FILL
UPDATE_SOUNDS
CHANGE_PARTICLE_VIEW_OPTION
CHANGE_SPHERE_SIZE
LOAD_POINT
WRITE_POINTS_TO_FILE
READ_POINTS_FROM_FILE
MOVE_TO_SELECTED_LOCATION
EXIT
